.shop-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-left: 10%;
  
  /* border: 2px solid brown; */
}

.all-products {
  border-right: 1px solid lightgray;
  /* border: 2px solid brown; */
  width: 70%;
  padding-right: 1%;
}

.cart {
  /* border: 2px solid brown; */
  position: sticky;
  align-self: flex-start;
  /* right: 10%; */
  width: 25%;
  top: 0;
}
