.calculation
{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #f0c14b;
    padding: 5px 80px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 3px;
  }

.review-btn
{
    display: flex;
    justify-content: center;
}