.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  width: 290px;
  height: 80px;
  padding: 20px;
}

.navbar {
  background-color: black;
  
}

nav
{
    overflow: hidden;
    margin-left: 80px;
}

nav a
{
    font-size: 18px;
    color: white;
    text-decoration: none;
    line-height: 40px;
    padding: 10px 20px 10px 20px;
}

nav a:hover
{
    background-color: #D3D3D3;
}